{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div id='container-login'>

        <!-- Container 1: register -->
        <div id='container-login-1'>
            <form action='/register' method='post'>
                <h2>Create Account</h2>
                <p>All your shared expenses in one place.</p>
                <br>
                <label for='first_name' class='visually-hidden'>First name</label>
                <input type='text' id='first_name' name='first_name' placeholder='First name' class='my-form' style='width: 126px' autocomplete='false' autofocus>
                <label for='last_name' class='visually-hidden'>Last name</label>
                <input type='text' id='last_name' name='last_name' placeholder='Last name' class='my-form' style='width: 126px' autocomplete='false'>
                <label for='email' class='visually-hidden'>Email address</label>
                <input type='email' id='email' name='email' placeholder='Email address' class='my-form'>
                <label for='password' class='visually-hidden'>Email address</label>
                <input type='password' id='password' name='password' placeholder='Password' class='my-form'>
                <label for='password_confirmation' class='visually-hidden'>Email address</label>
                <input type='password' id='password_confirmation' name='password_confirmation' placeholder='Confirm password' class='my-form'>
                {% if error %}
                    <div class='alert alert-error'>{{ error }}</div>
                {% endif %}
                <div>
                    <button type='submit' class='btn btn-primary'>Register</button>
                </div>
            </form>
        </div>

        <!-- Container 2: login -->
        <div id='container-login-2'>
            <form action='/login' method='get'>
                <h2>Welcome back!</h2>
                <p class='white'>Enter your credentials to continue managing your shared expenses</p>
                <br>
                <button type='submit' class='btn btn-light'>Sign in</button>
            </form>
        </div>

    </div>

{% endblock %}
